* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: lightblue;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 1rem;
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

nav button {
    border: none;
    padding: 0.3rem 0.5rem;
    background-color: white;
}

nav button:hover {
    cursor: pointer;
    background-color: aqua;
}